html {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

h1 {
  font-size: 50px;
  background-image: linear-gradient(to left, #bed2e6, #063f4e);
  color: #fff;
}

h2 {
  font-size: 30px;
  color: #061c22;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

a {
  text-decoration: none;
  color: #35555e;
  font-size: 20px;
}

a:hover {
  color: #031649;
}

.intro {
  background-color: #007bff;
  text-align: center;
  padding: 10px;
  color: #fff;
}

.content {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 0 auto;
  max-width: 800px;
}
