html {
  scroll-behavior: smooth;
  color: #1d1919;
}

body {
  width: 1200px;
  margin: 0 auto;
  background-color: #ddd3cf;
}

.main {
  padding-top: 90px;
  background-color: #ceb9b4;
  height: 100%;
}

.header {
  background-color: #ceb8b086;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
}

.header div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header-title {
  margin: 0;
}

.home-link {
  text-decoration: none;
  background-color: #ceb8b0;
  border-radius: 10px;
  padding: 5px;
  color: #1d1919;
}

.header-nav__list {
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}
.header-nav__list a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.header-nav__item {
  list-style-type: none;
  background-color: #ceb8b0;
  border-radius: 10px;
  padding: 5px;
}

.intro {
  padding: 20px;
}

.light-block {
  background-color: #ddd3cf;
}

.intro-title {
  text-align: center;
  margin: 0;
  font-size: 40px;
}

.intro-text {
  margin: 20px 0 0 0;
  font-size: 20px;
}

.langs {
  padding: 20px;
}

.langs-title {
  text-align: center;
  margin: 0;
  font-size: 40px;
}

.langs-list {
  margin: 0;
  font-size: 20px;
}

.langs-list__title {
  margin: 20px 0 10px 0;
}

.footer {
  background-color: #ceb8b086;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
